.progressbar .progress {

  background-color: rgb(233, 165, 64);
  border-radius: 4px;
  transition: width 400ms ease-in-out;
  height: 100%; 
}

.progressbar1 .progress1 {
  
  background-color: rgb(233, 165, 64);
  border-radius: 4px;
  transition: width 400ms ease-in-out;
  height: 100%;
}


.progressbar {
  left: 170px;
  top: 80px;
  position: absolute;
  float: left;
  width: 30%;
  height: 30px;
  border-radius: 4px;
  background-color: lightgrey;
  padding: 7px;
}

.progressbar1 {
  transform: rotate(180deg);
  top: 80px;
  right: 170px;
  display: flex;
  float: right;
  position: fixed;  
  width: 30%;
  height: 30px;
  border-radius: 4px;
  background-color: lightgrey;
  padding: 7px;
}

.full {
  display: flex;
  
}

.score {
  display: flex;
  position: fixed;
  top: 90vh;
  z-index: -1;
  margin-left: 1%;
}

.scorePerso {
  margin-right: 50px;
  font-size: 1.5em;
  width: 7vw;
  text-align: center;
  color: black;
  border-radius: 10px;
  padding: 10px;
}

.beginFight {
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 height: 100vh;
 width: 100vw;
 z-index: 100000;
}

 .titleBegin {
   /*  animation: hide-animation ease-in 8.0s;  */
   font-size: 120px;
   cursor: default;
    opacity: 1; 
  /*  position: absolute;
   top: 48%;
   left: 48%; */
   color: gold;
   margin: 0 auto;
   margin-top: 20%;
   text-shadow: 0 0 15px black, 0 0 10px black;
 }

 .decount {
   font-size: 150px;
   cursor: default;
   opacity: 1; 
   position: absolute;
   width: 50vw;
   top: 50vh;
   left: 25vw;
   text-align: center;
   color: gold;
   margin: 0 auto; 
   text-shadow: 0 0 15px black, 0 0 10px black;

 }

 @keyframes hide-animation {
   100% {
     opacity: 1;
     visibility: visible;
   }

   100% {
     opacity: 1;
     visibility: hidden;
   }
 }